{{template "base" .}}
 
{{define "title"}}Домашняя страницы{{end}}
 
{{define "main"}}
    <h2>Последние заметки</h2>
    {{if .Articles}}
    <table>
        <tr>
            <th>ID</th>
            <th>Заголовок</th>
            <th>Создан</th>
        </tr>
        {{range .Articles}}
        <tr>
            <td>#{{.ID}}</td>
            <td><a href='/articles?id={{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>Пока здесь ничего нет!</p>
    {{end}}
{{end}}